<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Linear Regresi Berat Badan</h1>
    <form action="" method="POST">
        <div class="field-wrapper">
            <input type="text" name="gd" id="t1" placeholder='Masukan Gender (Laki-laki=0;Perempuan=1)'>
            <input type="text" name="tb" id="t1" placeholder='Masukan Tinggi Badan (Inci)'>
        </div>
        <button class ="button-predict" type="submit">Prediksi</button>
    </form>
    {% if result is defined %}
    <div>
        <h2>Hasil Prediksi</h2>
        <h2>{{result}} lbs</h2>
    </div>
    {% endif %}
</body>
</html>