body {
    background-color: #DDFFBC;
    color: #52734D;
}

h1 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #52734D;
    text-align: center;
    line-height: 59px;

    padding: 0 64px;
    margin: 0;
}

/* .container {
    margin: auto;
    width: 60%;
    display: block;
    border-radius: 15px;
    background-color: transparent;
    justify-content: center;
    padding: 20px;
} */

/* .button-predict {
    font-family: "Avenir Next" , "Source Sans Pro", sans-serif;
    align-items: center;
    cursor: pointer;
    background-color: #1aa6b7;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin: 10px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
} */
/* 
.field-wrapper{
    margin: auto;
    width: 60%;
    display: block;
    border-radius: 15px;
    background-color: transparent;
    justify-content: center;
    padding: 20px;
} */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color:#91C788;
    padding: 15px;
  }

  h2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #52734D;
    text-align: center;
    line-height: 40px;
    padding: 0 64px;
    margin: 0;
}